<div id="home">
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Title </mat-card-title>
      <mat-card-subtitle> by Name Lastname </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>This card indeterminates progress bar.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, harum! Iste sint nemo blanditiis itaque ducimus id quasi quibusdam consequatur similique eaque nostrum inventore eligendi, dignissimos consectetur tempora consequuntur mollitia fugiat omnis illo aut. Consectetur laboriosam voluptatibus eum quo non ducimus alias? Suscipit rerum alias delectus porro ab itaque ipsum?</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>💓</button>
      <button mat-button>💓</button>
    </mat-card-actions>
  </mat-card>
  </div>